*, ::after, ::before {
	box-sizing: inherit
}

* {
	font: inherit
}

*, :root {
	--space-xxxxs: calc(0.125 * var(--space-unit));
	--space-xxxs: calc(0.25 * var(--space-unit));
	--space-xxs: calc(0.375 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
	--space-xxxl: calc(8.5 * var(--space-unit));
	--space-xxxxl: calc(13.75 * var(--space-unit));
	--text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio))
}

:root {
    /* common */
    --icon-unit: 1rem;
    --radius: .5em;
    --space-unit: 1rem;
    --text-scale-ratio: 1.25;
    --text-unit: 1.125rem;
    /* max-width */
    --max-width-xs: 38em; /* 608px */
    --max-width-sm: 48em; /* 768px */
    --max-width-md: 64em; /* 1024px */
    --max-width-lg: 80em; /* 1280px */
    --max-width-xl: 90em; /* 1440px */
    /* radius */
    --radius-xxxxs: calc(0.125 * var(--radius));
    --radius-xxxs: calc(0.25 * var(--radius));
    --radius-xxs: calc(0.375 * var(--radius));
    --radius-xs: calc(0.5 * var(--radius));
    --radius-sm: calc(0.75 * var(--radius));
    --radius-md: calc(1.25 * var(--radius));
    --radius-lg: calc(2 * var(--radius));
    --radius-xl: calc(3.25 * var(--radius));
    --radius-xxl: calc(5.25 * var(--radius));
    --radius-xxxl: calc(8.5 * var(--radius));
    --radius-xxxxl: calc(13.75 * var(--radius));
}

@media screen and (max-width: 80em) {
    :root {
        --text-scale-ratio: 1.2;
        --text-unit: 1rem
    }
}

@media screen and (max-width: 48em) {
    :root {
        --text-scale-ratio: 1.15
    }
}

:root {
	--color-black: #000;
	--color-gray-darker: #080808;
	--color-gray-dark: #111;
	--color-gray: #808080;
	--color-gray-light: #eee;
	--color-gray-lighter: #f7f7f7;
	--color-white: #fff;
	--color-blue-dark: #60b2cc;
	--color-blue-light: #bbe3f7;
	--color-green-dark: #53ae9d;
	--color-green-light: #c2e5de;
	--color-orange-dark: #ee783b;
	--color-orange-light: #fdd5bf;
	--color-purple-dark: #7f5b93;
	--color-purple-light: #c4b1d3;
	--color-red-dark: #c96565;
	--color-red-light: #fabebd;
	--color-yellow-dark: #eabc32;
	--color-yellow-light: #f7e695
}

[hidden] {
	display: none
}

a, abbr, address, area, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, rp, rt, rtc, ruby, s, samp, section, select, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
	border: 0;
	margin: 0;
	padding: 0;
	transition: .25s ease-in-out;
	transition-property: background-color, border-color, color, opacity, transform, visibility
	/* transition-property: background-color, border-color, color, font-size, margin, opacity, padding, transform, visibility */
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block
}

b, strong {
	font-weight: 700
}

blockquote, q {
	quotes: none
}

body {
	background-color: var(--color-white);
	color: var(--color-black);
	font: 400 var(--text-unit) "Nunito Sans", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
	font-weight: 700
}

h1 {
    font-size: var(--text-xxxxl)
}

h2 {
    font-size: var(--text-xxxl)
}

h3 {
    font-size: var(--text-xxl)
}

h4 {
    font-size: var(--text-xl)
}

h5 {
    font-size: var(--text-lg)
}

h6 {
    font-size: var(--text-md)
}

html {
	box-sizing: border-box
}

img, svg, video {
	max-width: 100%
}

img {
	vertical-align: bottom
}

svg {
	flex-shrink: 0
}

menu, ol, ul {
	list-style: none
}

p {
	line-height: 1.4
}

s {
	text-decoration: line-through
}

small {
	font-size: var(--text-sm)
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.clearfix::after, .clearfix::before {
	content: "";
	display: table
}

.clearfix::after {
	clear: both
}

/* accessibility */

.sr-only, .sr-only-focusable:not(:focus):not(:focus-within) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px
}



.is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden
}

.not-hidden {
    display: block;
    opacity: 1;
    visibility: visible
}

/*********
*
*  Validation
*
*********/

.field-validation-error {
    color: var(--red-primary) !important
}



[data-columns] {
    display: -ms-grid;
    display: grid;
    grid-gap: var(--space-md);
    -ms-grid-rows: auto;
    grid-template-rows: auto
}

[data-columns="1"] {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr)
}

[data-columns="2"] {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
}

[data-columns="3"] {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr)
}

[data-columns="4"] {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr)
}

[data-columns="5"] {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr)
}

[data-columns="6"] {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr)
}

@media screen and (max-width: 64em) {
    [data-columns="1"] {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr)
    }

    [data-columns="2"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="3"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="4"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="5"] {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr)
    }

    [data-columns="6"] {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (max-width: 48em) {
    [data-columns="1"] {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr)
    }

    [data-columns="2"] {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr)
    }

    [data-columns="3"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="4"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="5"] {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
    }

    [data-columns="6"] {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr)
    }
}







a {
    cursor: pointer;
    text-decoration: none
}



/*
body {
    font: 400 var(--text-lg)/1.2 "Nunito Sans", sans-serif;
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: 1.2
*/